@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Source+Serif+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  margin: 0;
  padding: 0;
  background: #000404 url(/assets/Banner1.png) no-repeat;
}

.topnav {
  display: flex;
  padding: 50px 0;
}
.topnav .ASNDlogo {
  width: 350px;
  margin-left: 5vh;
}
.topnav--links {
  display: flex;
  font-family: "Source Serif Pro", serif;
  letter-spacing: 1.5px;
  font-size: 1.1rem;
  align-items: center;
  margin: 0 auto;
}
.topnav--links a {
  margin: 30px;
  color: white;
  text-decoration: none;
}
.topnav--links a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  font-weight: bold;
}

.active {
  color: black;
}

.content {
  background-color: rgb(34, 0, 1);
  border-radius: 25px;
  color: white;
  font-family: "Oswald", sans-serif;
}

.home--content {
  display: flex;
  flex-direction: column;
  margin: 100px 6% 0 30%;
  padding: 30px 0 50px 50px;
}
.home--contentHeader {
  font-size: calc(1rem + 3.6vw);
  margin-bottom: 30px;
}
.home--contentSubHeader {
  font-size: calc(1rem + 0.72vw);
  margin-bottom: 50px;
}
.home--content button {
  background-color: white;
  color: rgb(146, 7, 11);
  cursor: pointer;
  border: none;
  padding: 1.2rem;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  font-size: calc(0.5rem + 1vw);
  font-weight: bold;
  transition: background-color 0.5s ease;
}
.home--content button:hover {
  background-color: rgb(146, 7, 11);
  color: white;
}
.home--span {
  color: rgb(146, 7, 11);
}

.about--header {
  margin: 2% auto 10%;
  font-size: calc(1rem + 3vw);
  padding: 0.9rem;
  text-align: center;
  width: 20%;
}
.about--content {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 65%;
  padding: 50px;
  padding-bottom: 50px;
  margin: 0 auto 50px;
}
.about--content-subheader {
  font-size: calc(1rem + 2vw);
  font-weight: bold;
}
.about--content-text {
  font-size: calc(1rem + 0.75vw);
}
.about--Profiles {
  display: flex;
  justify-content: space-around;
  margin: 10rem 0;
}
.about--profile {
  border-radius: 25px;
  width: calc(5rem + 30vw);
}

.boost-wrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5rem;
}
.boost--header {
  text-align: center;
  margin: 2% auto 10% auto;
  padding: 1rem;
  font-size: calc(1rem + 3vw);
  width: 30%;
}
.boost--content {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 8px;
}
.boost--content-subheader {
  text-align: center;
  font-size: calc(1rem + 1vw);
}
.boost--content-subheader a {
  text-decoration: none;
}
.boost--content ul {
  display: flex;
  flex-direction: column;
  font-size: calc(1rem + 0.25vw);
  gap: 0.5rem;
}

.contact--wrapper {
  margin: 5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.contact--content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  gap: 25px;
  height: 50%;
  color: white;
  background-color: #220001;
  border-radius: 25px;
  padding: 5%;
}
.contact--content-heading {
  font-size: calc(0.5rem + 2.25vw);
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  margin-bottom: 5%;
}
.contact--content-text {
  font-size: calc(0.5rem + 1.25vw);
}
.contact--form {
  display: flex;
  gap: 5px;
  flex-direction: column;
  color: white;
  font-family: "Poppins", sans-serif;
  width: 40%;
  background-color: #220001;
  padding: 2%;
  border-radius: 25px;
}
.contact--form input {
  width: 100%;
  height: 30px;
  border-radius: 5px;
}
.contact--form input::placeholder {
  font-family: "Poppins", sans-serif;
}
.contact--form .nameboxes {
  display: flex;
  gap: 3%;
  margin-bottom: 4%;
}
.contact--form .label {
  margin-bottom: 1%;
}
.contact--form .name {
  width: 50%;
}
.contact--form .nameLabels {
  display: flex;
}
.contact--form textarea {
  width: 100%;
  margin-bottom: 2%;
  resize: none;
  border-radius: 5px;
}
.contact--form textarea::placeholder {
  font-family: "Poppins", sans-serif;
}
.contact--form .emailBox {
  width: 100%;
  margin-bottom: 4%;
  border-radius: 5px;
}
.contact--form .emailBox::placeholder {
  font-family: "Poppins", serif;
}
.contact--form button {
  background-color: white;
  color: black;
  border: none;
  border-radius: 10px;
  padding: 2% 4%;
  cursor: pointer;
  transition: 0.3s ease;
}
.contact--form button:hover {
  background-color: rgb(146, 7, 11);
  color: white;
}
.contact-button {
  width: 30%;
}

.portfolio--content {
  margin-bottom: 5vw;
  font-size: calc(1rem + 3vw);
  padding: 2%;
  width: 50%;
  text-align: center;
  margin-left: 40%;
}
.portfolio--header {
  background-color: #220001;
  color: white;
  width: 30%;
  padding: 0.3rem;
  font-size: calc(1rem + 2vw);
  text-align: center;
  margin-bottom: 1%;
  border-radius: 15px;
}
.portfolio--header-left {
  margin-left: 10%;
}
.portfolio--header-right {
  margin-right: 10%;
  margin-left: auto;
}

.slideshow--slide {
  width: 80%;
  height: 45vw;
  transition: 1s;
  margin: 0 auto 5vw;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0 15px 5px;
  border-radius: 25px;
  font-size: calc(10px + 3vw);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  z-index: 1;
  cursor: pointer;
  transition: 0.3s;
}
.arrow:hover {
  background-color: black;
}

.leftArrow {
  left: 2.25vw;
}

.rightArrow {
  right: 2.25vw;
}

.subtext {
  font-size: calc(1rem + 0.05vw);
}
.subtext a {
  text-decoration: none;
  color: inherit;
}

.contact-link {
  transition: filter 0.3s ease;
}
.contact-link:hover {
  filter: brightness(70%);
}

.red {
  color: #CA080D;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.footer {
  background-color: #220001;
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-family: "Poppins", sans-serif;
  font-size: calc(1rem + 0.1vh);
  display: flex;
  justify-content: space-around;
}
.footer a {
  text-underline-offset: 5.5px;
  color: white;
}
.footer a:hover {
  color: #CA080D;
}

.carousel {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  height: 100px;
  overflow: hidden;
}
.carousel-item {
  position: absolute;
  top: 99%;
  left: 0;
  font-size: 24px;
  white-space: nowrap;
  animation: wave 19s linear infinite;
}

.Projects {
  font-family: "Oswald", serif;
  font-size: calc(1rem + 0.3vw);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5%;
  margin-bottom: 15vw;
  margin-top: 200px;
  row-gap: 200px;
}

.Project {
  display: flex;
  flex-direction: column;
}
.Project-Image {
  width: 350px;
  height: 250px;
}
.Project-Name {
  color: white;
  margin-top: 1rem;
}

@keyframes wave {
  0% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateX(100%) translateY(0);
  }
  50% {
    transform: translateX(100%) translateY(100%);
  }
  75% {
    transform: translateX(0) translateY(100%);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
@media (max-width: 988px) {
  .topnav {
    flex-direction: column;
    align-items: center;
  }
  .topnav--links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
  }
  .topnav .ASNDlogo {
    margin-left: 0;
  }
}
@media (max-width: 820px) {
  .home--content {
    width: 90%;
    margin: 0 auto 5rem;
    padding: 30px;
  }
  .home--contentHeader {
    text-align: center;
  }
  .home--contentSubheader {
    text-align: center;
  }
  .home--content a {
    margin: 0 auto;
  }
  .Projects {
    flex-direction: column;
  }
  .Projects .Project {
    margin: 0 auto 5rem;
  }
  .portfolio--content {
    width: 80%;
    margin: 0 auto 5rem;
  }
  .portfolio--header {
    width: 50%;
    padding: 10px;
    font-size: calc(1rem + 2vw);
  }
  .boost-wrapper {
    flex-direction: column;
  }
  .boost--header {
    width: 70%;
    margin: 0 auto 5rem;
  }
  .boost--content {
    width: 90%;
    margin: 0 auto 5rem;
  }
  .about--header {
    width: 50%;
  }
  .about--content {
    width: 90%;
    margin: 0 auto 5rem;
  }
  .about--Profiles {
    flex-direction: column;
    align-items: center;
  }
  .about--Profiles img {
    width: 90%;
    margin-bottom: 15vw;
  }
  .contact--wrapper {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }
  .contact--content {
    text-align: center;
    margin-left: 0;
    margin-bottom: 10%;
  }
  .contact--content-heading {
    font-size: calc(1rem + 6vw);
  }
  .contact--form {
    width: 95%;
    padding-bottom: 2%;
    padding-top: 6%;
    padding-left: 4%;
    margin-bottom: 10%;
  }
  .contact--form input {
    width: 90%;
  }
  .contact--form .nameboxes {
    gap: 0;
  }
  .contact--form .emailBox {
    width: 95%;
  }
  .contact--form textarea {
    width: 95%;
  }
  .contact--form button {
    margin-bottom: 4%;
  }
}

/*# sourceMappingURL=App.css.map */
