@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
    margin: 0;
    padding: 0;
    background: #000404 url(/assets/Banner1.png) no-repeat;
}



// Topnav Style Rules
.topnav {
    display: flex;
    margin-top: 2%;
    margin-bottom: 5%;
    flex-wrap: wrap;
    justify-content: space-between;

    .ASNDlogo {
        width: 350px;
        margin: 0 auto 0 calc(1rem + 2.5vw);
    }

    &--links {
        display: flex;
        position: relative;
        font-family: 'Source Serif Pro', serif;
        letter-spacing: 1.5px;
        align-items: center;
        margin-left: auto;
        margin-right: auto;

        a {
            position: relative;
            margin: 30px;
            color: white;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
                text-underline-offset: 5px;
                font-weight: bold;
            }

            // &:after {
            //     content: "";
            //     position: absolute;
            //     width: 100%;
            //     transform: scaleX(0);
            //     height: 2px;
            //     bottom: 0;
            //     left: 0;
            //     transform-origin: bottom right;
            //     transition: transform 0.25s ease-out;
            // }

            // &:hover:after {
            //     transform: scaleX(1);
            //     transform-origin: bottom left;
            // }
        }
    }
}

.active {
    color: black;
}

.content {
    background-color: rgb(34, 0, 1);
    border-radius: 25px;
    color: white;
    font-family: 'Oswald', sans-serif;
}


// Home Page Style Rules
.home {
    &--content {
        margin-top: 200px;
        margin-left: 30%;
        margin-right: 6%;

        padding-left: 50px;
        padding-top: 30px;
        padding-bottom: 50px;
        

        &Header {
            font-size: calc(1rem + 3.6vw);
            margin-bottom: 30px;
        }

        &SubHeader {
            font-size: calc(1rem + 0.72vw);
            margin-bottom: 50px;
        }

        button {
            background-color: white;
            color: rgb(146, 7, 11);
            cursor: pointer;
            border: none;
            padding: 1.2rem;
            font-family: 'Poppins', sans-serif;
            border-radius: 10px;
            font-size: 16px;
            font-weight: bold;
            transition: background-color 0.5s ease;

            &:hover {
                background-color: rgb(146, 7, 11);
                color: white;
            }
        }
    }

    &--span {
        color: rgb(146, 7, 11);
    }
}

.header {
    margin: 2% auto 10%;
    font-size: calc(1rem + 3vw);
    padding: .9rem;
    text-align: center;
    width: 20%;
}

.boost {
    &-wrapper {
        display: flex;
        justify-content: space-around;
        margin-bottom: 5rem;
    }

    &--header {
        font-size: calc(1rem + 2.5vw);
    }

    &--content {
        width: 30%;

        &-subheader {
            text-align: center;
            font-size: calc(1rem + 1vw);
            font-weight: 300;
            padding-top: 1rem;

            a {
                text-decoration: none;
            }
        }

        ul {
            font-size: calc(1rem + 0.25vw);
            font-weight: 300;
            margin-left: 1rem;
            margin-right: 1rem;

            li {
                margin-bottom: 0.5rem;
            }
        }
    }
}

// Contact Page Style Rules
.contact {
    &--wrapper {
        margin-top: 2%;
        display: flex;
        margin-left: calc(1rem + 2.5vw);
        margin-bottom: 5%;
    }

    &--content {
        color: white;
        margin-left: 2%;
        background-color: #220001;
        border-radius: 25px;
        padding: 2%;


        &-heading {
            font-size: calc(.5rem + 2.25vw);
            font-family: 'Oswald', sans-serif;
            font-weight: 400;
            margin-bottom: 5%;
        }

        &-text {
            font-size: calc(0.5rem + 1.25vw);
            margin-bottom: 20px;
        }
    }

    &--form {
        color: white;
        font-family: 'Poppins', sans-serif;
        margin: 0 auto;
        width: 40%;
        background-color: #220001;
        padding: 2%;
        border-radius: 25px;

        input {
            width: 100%;
            height: 30px;
            border-radius: 5px;

            &::placeholder {
                font-family: 'Poppins', sans-serif;
            }
        }

        .nameboxes {
            display: flex;
            gap: 3%;
            margin-bottom: 4%;
        }

        .label {
            margin-bottom: 1%;
        }

        .name {
            width: 50%;
        }

        .nameLabels {
            display: flex;
        }

        textarea {
            width: 100%;
            margin-bottom: 2%;
            resize: none;
            border-radius: 5px;

            &::placeholder {
                font-family: 'Poppins', sans-serif;
            }
        }

        .emailBox {
            width: 100%;
            margin-bottom: 4%;
            border-radius: 5px;

            &::placeholder {
                font-family: 'Poppins', serif;
            }
        }

        button {
            background-color: white;
            border: none;
            border-radius: 10px;
            padding: 2% 4%;
            cursor: pointer;
            transition: 0.3s ease;

            &:hover {
                background-color: rgb(146, 7, 11);
                color: white;
            }
        }
    }
}

.portfolio {
    &--content {
        margin-bottom: 5vw;
        font-size: calc(1rem + 3vw);
        padding: 2%;
        width: 50%;
        text-align: center;
        margin-left: 40%;
    }

    &--header {
        background-color: #220001;
        color: white;
        width: 40%;
        font-size: calc(1rem + 3vw);
        text-align: center;
        margin-bottom: 1%;
        border-radius: 25px;

        &-left {
            margin-left: 10%;
        }

        &-right {
            margin-right: 10%;
            margin-left: auto;
        }
    }
}

.slideshow {
    &--slide {
        width: 80%;
        height: 45vw;
        transition: 1s;
        margin: 0 auto 5vw;
    }
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding: 0 15px 5px;
    border-radius: 25px;
    font-size: calc(10px + 3vw);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    z-index: 1;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background-color: black;
    }
}

.leftArrow {
    left: 2.25vw;
}

.rightArrow {
    right: 2.25vw;
}

// About Style Rules
.about {
    &--header {
        margin: 2% auto 10%;
        font-size: calc(1rem + 3vw);
        padding: .9rem;
        text-align: center;
        width: 20%;
    }

    &--content {
        text-align: center;
        width: 65%;
        padding-bottom: 50px;
        margin: 0 auto 50px;

        &-subheader { 
            padding-top: 50px;
            margin-bottom: 70px;
            font-size: calc(1rem + 2vw);
            font-weight: bold;
        }

        &-text {
            font-size: calc(1rem + 0.75vw);
            font-weight: 200;
            padding-left: 50px;
            padding-right: 50px;
        }
    }

    &--Profiles {
        display: flex;
        justify-content: space-around;
        margin: 0 auto 10rem;

    }

    &--profile {
        border-radius: 25px;
        width: 40%;
        padding: 10px;
        background-color: #220001;

        //width: calc(5rem + 21vw);
        //height: calc(5rem + 30vw);
    }
}

.subtext {
    font-size: calc(1rem + 0.05vw);
    margin-left: .75rem;
    margin-right: .75rem;
    margin-bottom: 1rem;

    a {
        text-decoration: none;
        color: inherit;
    }
}

.contact-link {
    transition: filter 0.3s ease;
    
    &:hover {
        filter: brightness(70%);
    }
}

.red {
    color: #CA080D;
}

.underline {
    text-decoration: underline;
    text-underline-offset: 5px;
}


// Footer Style Rules
.footer {

    background-color: #220001;
    padding-top: 3rem;
    padding-bottom: 3rem;

    font-family: 'Poppins', sans-serif;
    font-size: calc(1rem + .1vh);

    display: flex;
    justify-content: space-around;

    // position: fixed;
    // left: 0;
    // bottom: 0;
    // width: 100%;



    a {
        text-underline-offset: 5.5px;
        color: white;

        &:hover {
            color: #CA080D;
        }
    }
}


// Carousel Style Rules
.carousel {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    height: 100px; // Set the height of the carousel
    overflow: hidden; // Hide the overflow of the carousel

    &-item {
        position: absolute;
        top: 99%;
        left: 0;
        font-size: 24px;
        white-space: nowrap;
        // margin: 0 10px; // Add some margin between carousel items
        // font-size: 24px; // Set the font size of the text
        animation: wave 19s linear infinite; // Apply the animation
    }
}


// Projects Carousel Style Rules
.Projects {
    font-family: 'Oswald', serif;
    font-size: calc(1rem + 0.3vw);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5%;
    margin-bottom: 15vw;

}

.Project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 200px;

    &-Image {
        width: 275px;
        height: 200px;
    }

    &-Name {
        color: white;
        margin-top: 1rem;
    }
}

//.slideshow {
//    margin-bottom: 5vw;
//}

@keyframes wave {
    0% {
      transform: translateX(0) translateY(0);
    }
    25% {
      transform: translateX(100%) translateY(0);
    }
    50% {
      transform: translateX(100%) translateY(100%);
    }
    75% {
      transform: translateX(0) translateY(100%);
    }
    100% {
      transform: translateX(0) translateY(0);
    }
  }


@media (max-width: 988px) {
    .topnav {
        &--links {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-row: auto;
            margin-top: 5px;
            justify-items: center;
        }

        .ASNDlogo {
            display: block;
            width: 75%;
            margin: 0 auto;
        }
    }
}

@media (max-width: 820px) {

    // .slideshow {
    //     &--slide {
    //         height: 300px;
    //     }
    // }


    .home {
        &--content {
            width: 90%;
            margin: 0 auto 5rem;
            padding: 30px;

            &Header {
                text-align: center;
            }

            &Subheader {
                text-align: center;
            }

            & a {
                margin: 0 auto;
            }
        }
    }

    .Projects {
        flex-direction: column;

        & .Project {
            margin: 0 auto 5rem;
        }
    }

    .portfolio {
        &--content {
            width: 80%;
            margin: 0 auto 5rem;
        }
    }
  
    .boost {
        &-wrapper {
            flex-direction: column;
        }

        &--header {
            width: 70%;
            margin: 0 auto 5rem;
        }

        &--content {
            width: 90%;
            margin: 0 auto 5rem;
        }
    }

    .about {
        &--header {
            width: 50%;
        }

        &--content {
            width: 90%;
            margin: 0 auto 5rem;

        }

        &--Profiles {
            flex-direction: column;
            align-items: center;

            & img {
                width: 90%;
                //height: 125vw;
                margin-bottom: 15vw;
            }
        }
    }

    .contact {
        &--wrapper {
            flex-direction: column;
            width: 90%;
            margin: 0 auto;
        }

        &--content {
            text-align: center;
            margin-left: 0;
            margin-bottom: 10%;

            &-heading {
                font-size: calc(1rem + 6vw);
            }
        }

        &--form {
            width: 95%;
            padding-bottom: 2%;
            padding-top: 6%;
            padding-left: 4%;

            margin-bottom: 10%;

            input {
                width: 90%;
            }

            .nameboxes {
                gap: 0;
            }

            .emailBox {
                width: 95%;
            }

            textarea {
                width: 95%;
            }

            button {
                margin-bottom: 4%;
            }
        }
    }
}